<div class="modal-header">
  <h3 class="modal-title">Edit your profile</h3>
</div>

<div class="modal-body">
  <form class="form-modal-size" ng-submit="update(updateAccount)" role="form" ng-init="updateAccount = {}">

  <div class="form-group">
    <input  type="text"
            name="text"
            ng-model="updateAccount.nickname"
            class="form-control"
            placeholder="Name"
            tabindex="4"/>
  </div>

  <div class="form-group">
    <input type="text"
           name="text"
           ng-model="updateAccount.location"
           class="form-control"
           placeholder="Location"
           tabindex="5"/>
  </div>

  <div class="form-group">
    <input type="text"
           name="text"
           ng-model="updateAccount.website"
           class="form-control"
           placeholder="Website"
           tabindex="5"/>
  </div>


  <div class="form-group"> <p>Summary</p>
    <textarea ng-model="updateAccount.summary"
              rows="6"
              cols="50"
              name="text"
              data-type="link"
              placeholder="optional">
    </textarea>
  </div>

  <hr class="auth-colorgraph">

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <input type="submit" value="Confirm" class="btn btn-primary btn-mg login-button" tabindex="7">
      </div>
    </div>
  </form>
</div>
