<main-nav-bar>
</main-nav-bar>

<header id="static-index">
  <div class="container">
    <div class="row col-md-10 main-responsive">
      <div id="static-banner">
        <p><img class="main-bit" src="<%= asset_path('index-logo.png') %>"></p>
        <div>
          <li class="sub-font">Deposit Bitcoins securely into your unique Bitcoin wallet on TMAB</li>
          <li class="sub-font">Transfer your bitcoins to other wallets to cashout</li>
          <li class="sub-font">Obtain a unique TMAB public link for users to fund you</li>
        </div>
        <div class="main-button"><a class="btn-cta btn-inverted btn-lg" ng-controller="ModalDemoCtrl" ng-hide="loggedIn" ng-click="open()"><i class="fa fa-btc"></i> Get Started</a></div>
      </div>
    </div>
  </div>
</header>


<main-footer>
</main-footer>
