<main-nav-bar>
</main-nav-bar>
<div id="wrapper">
  <!-- Tab Navs -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav">
      <ul class="nav" id="side-menu">
        <li>
          <img class="empty-profile" ng-src="{{ user.image }}?type=large" err-src="<%= asset_path('empty.jpg') %>">
        </li>
        <ul class="nav nav-second-level">
          <li class="padding-left">Location
            <div>{{ user.location }}<i class="fa fa-wrench fa-fw"></i></div>
          </li>
          <li class="padding-left">Website
            <div>{{ user.website }}<i class="fa fa-wrench fa-fw"></i></div>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- /.navbar-static-side -->
  <div id="page-wrapper">
    <div class="row">
      <div class="page-header col-lg-12">
        <h1 class="pull-left">Trust {{ user.nickname }} a Bit</h1>
        <h2 class="pull-right"><a href="">Or fund directly with Bitcoin</a></h2>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>About {{ user.nickname }}</h3>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
           {{ user.summary }}
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Send this person some BTC</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <p>Amount:</p>
              <input type="number" ng-model="send.amount">
            </div>
            <div class="form-group">
              <p>Message:</p>
              <textarea ng-model="send.message" rows="5" cols="40" name="text" data-type="link" placeholder="optional"></textarea>
            </div>
            <div>
              Remaining BTC Balance: <img class="bitcoin-currency-icon" src="<%= asset_path('bitcoinicon.jpg') %>"> {{ balance }}
            </div>
            <div>
              <button ng-click="sendBTC()">Send Bitcoin</button>
            </div>
          </div>
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->
</div>
<main-footer>
</main-footer>
