<main-nav-bar>
</main-nav-bar>
<div id="wrapper">
  <!-- Tab Navs -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav">
      <ul class="nav" id="side-menu">
        <li>
          <img class="empty-profile" src="<%= asset_path('empty.jpg') %>" alt="<%= asset_path('empty.jpg') %>">
          <div class="center-text">Foo Bar
          </div>
        </li>
        <ul class="nav nav-second-level">
          <li class="padding-left">Location
            <div>User.Location<i class="fa fa-wrench fa-fw"></i></div>
          </li>
          <li class="padding-left">Website
            <div>User.website<i class="fa fa-wrench fa-fw"></i></div>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- /.navbar-static-side -->
  <div id="page-wrapper">
    <div class="row">
      <div class="page-header col-lg-12">
        <h1 class="pull-left">Trust Foo a Bit</h1>
        <h2 class="pull-right"><a href="">Or fund directly with Bitcoin</a></h2>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>About Foo</h3>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            Real estate developer Donald John Trump was born June 14, 1946, in Queens, New York. In 1971 he became involved in large, profitable building projects in Manhattan. In 1980, he opened the Grand Hyatt, which made him the city's best known and most controversial developer. In 2004 Trump began starring in the hit NBC reality series The Apprentice, which also became an offshoot for The Celebrity Apprentice. In 2015 Trump announced his candidacy for president of the United States and shortly after the first Republican debate became the party's front-runner.
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Fund Foo a Bit</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <p>Amount:</p>
              <input type="text" name="">
            </div>
            <div class="form-group">
              <p>Message:</p>
              <textarea rows="5" cols="40" name="text" data-type="link" placeholder="optional"></textarea>
            </div>
            <div>
              Remaining BTC Balance: <img class="bitcoin-currency-icon" src="<%= asset_path('bitcoinicon.jpg') %>"> 0.6 (dummy)
            </div>
            <div>
              <button>Send Bitcoin</button>
            </div>
          </div>
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->
</div>
<main-footer>
</main-footer>
