/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require bootstrap-social/bootstrap-social
 *= require metisMenu/dist/metisMenu.min
 *= require startbootstrap-sb-admin-2/dist/css/timeline
 *= require startbootstrap-sb-admin-2/dist/css/sb-admin-2
 *= require morrisjs/morris
 *= require_tree .
 *= require_self
 */

  @import "font-awesome-sprockets";
  @import "font-awesome";


body{
  padding-top: 60px;
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden; /* prevent horizontal scrollbar from appearing */
}

form > li {
  list-style-type: none;
}

.btn-social{
  width: 195px;
  margin: 5px;

}

.sign-up-with-email {
    text-align: center;
    position: relative;
}

.sign-up-float{
  float: right;
  margin-top: 8px;
  margin-right: 15px;
}

.form-modal-size{
  width: 440px;
}

.login-button{
  width: 150px;
  float: right;
}

.signup-button{
  width: 150px;
  float: right;
}

.modal-dialog{
  width: 470px;
}

.bitcoin-currency-icon{
  width: 18px;
}

.empty-profile{
  width: 250px;
}

.center-text{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.padding-left{
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.center-tabs{
  text-align: center;
  font-size: 30px;
}

.wallet-tab-height{
  height: 63px;
  margin-left: 100px;
  margin-right: 100px;
}

.ui-sref-active a:active {
    color:#BF2323 !important;
}

.main-bit{
  width: 390px;
  padding-bottom: 7px;
}

#logo-nav{
  width: 192px;
}

.navbar-brand{
  padding-top: 8px;
}

#static-index, .profile-background{
  background-color: rgba(245, 245, 245, 0.75);
  background-image: image-url("background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  height: 538px;
  /*max-width: 1600px;*/
  background-position: top right;
  margin: auto;
}


#static-banner{
  margin-top: 100px;
}

.navbar-fixed-top{
  border-width: 0 0 0px;
}

.btn-cta.btn-inverted {
  border: 2px solid #E04A1D;
  color: #E04A1D;
  font-size: 30px;
}

.btn-cta.btn-inverted:hover {
  background: #E04A1D;
  color: #FFFFFF;
  text-decoration: none;
}

.main-font{
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
}

.sub-font{
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  color: #E04A1D;
  text-shadow: 0px -1px #ff0000;
}

.main-button{
  margin-top: 50px;
}


.detail-icon {
  /*background-color: $color-white;*/
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  height: 90px;
  margin: 0 auto;
  padding-top: 20px;
  width: 90px;
}

svg {
  height: 50px;
  width: 50px;
  margin-left: 17px;
}

.col-tips{
  color: #FF812E;
  /*margin-left: 20px;*/
}

.col-tipworthy{
  color: #50C878;
}

.col-earn{
  color: #369ff4;
}

.col-give{
  color: #fe5f5e;
  /*margin-right: 20px;*/
}

.align-center{
  text-align: center;
}

.navbar-default{
  background-color: #4C67A1;
  border-color: #4C67A1;
}

.navbar{
  background-color: #4C67A1;
  border-color: #4C67A1;
}

.navbar-default .navbar-nav>li>a{
  font-weight: bold;
  color: white;
}

.margin-top{
  margin-top: 108px !important;
}

.margin-btm{
  margin-bottom: 100px;
}
